/*Start CSS Reset*/
/* http://meyerweb.com/eric/tools/css/reset/
v2.0 | 20110126
License: none (public domain)
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*End CSS Reset*/
.App {
  text-align: center;
}

.App-logo {
  height: 30px;
}

.App-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  background-color: #95bff3;
  height: 70px;
  padding: 10px;
  color: white;
  border: 1px;
  border-style: solid;
}

.Page-title {
  font-family: futura;
  font-size: 25px;
  padding-bottom: 10px;
  float: center;
  text-align: center;
}

.wholesaleDisc {
}

.Search-input {
  cursor: pointer;

}

.Cart-info {
}

.Cart-logo {
  height: 30px;
  width: 30px;
  padding-top: 10px;
  padding-right: 10px;
}

.Cart-logo:hover {
  opacity: 0.55;
  cursor: pointer;
  zoom: 1;
}

.Cart {
  padding: 10px;
  margin: auto;
  top: 80px;
  right: 15px;
  background: white;
  opacity: 0.95;
  z-index: 1;
  width: 500px;
  position: absolute;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: grey;
  box-shadow: 2px 2px 1px lightgrey;
}

.exit {
  float: left;
}

.exit:hover{
  color: red;
  cursor: pointer;
}

.Cart-item {
  text-align:left;
  padding-bottom: 5px;
}

.Price-remove {
  position: absolute;
  right: 10px;
  padding-right: 10px;
  padding-left: 1px;
}

.Quantity {
  text-align: center;
  height: 20px;
  width: 20px;
  color: red;
  margin: 5px;
}

.Cart-total {
  padding: 10px;
  font-weight: bold;
}

.Remove-logo {
  height: 15px;
  width: 15px;
  padding-left: 20px;
  text-align: right;
}

.Remove-logo:hover {
  opacity: 0.75;
  cursor: pointer;
}

.App-intro {
  font-size: large;
}

.Store-block {
  margin: auto;
  padding: 10px;
}

.storeItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.Item-image {
  border: 1px;
  border-radius: 10px;
  border-style: hidden;
  width:75%;
}
.storeItem {
  float: left;
  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgrey;
  margin: 10px;
  width: 30%;
}

.storeItem:hover {
  box-shadow: 2px 2px 1px #95bff3;
  opacity: 0.75;
  cursor: pointer;
}

.Item-name {
  padding: 5px;
  font-family: sans-serif;
  font-style: italic;
  font-size: 20px;
}

.discount {
  color: red;
}

.Item-prices {
  padding-bottom: 10px;
}

.Cart-title {
  padding-bottom: 10px;
  font-size: 20px;
  font-style: bold;
  text-decoration: underline;
}

